@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SinEx</h1>
    <p class="lead">Welcome to SinEx Website</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
